body{
    background-image: url("greg-rosenke-6QnEf_b47eA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    text-align: center;
    font-size: xx-large;
}

#wrapper{
    text-align: center;
    width: 350px;
    display: inline-block;
}

#display {
    height: 70px;
    width: 340px;
    font-size: 70px;
    text-align: right;
}

#operate button{
    height: 60px;
    width: 81px;
    font-size: xx-large;
    margin-top: 7px;
}

#numbers button{
    height: 60px;
    width: 111px;
    font-size: xx-large;
    margin-top: 7px;
}


#line4 button{
    width: 171px;
}

#equal{
    background-color: chartreuse;
}
#minus{
    background-color: aqua;
}
#plus{
    background-color: darkorange;
}

#divide{
    background-color: gold;
}
#multiply{
    background-color: lightblue;
}
#root{
    background-color: burlywood;
}
#pow{
    background-color: darkcyan;
}

#C{
    background-color: red;
}





















